body, div, ul, li, p {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    font-family: '微软雅黑', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot');
    /* IE9*/
    src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.blur_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(right top, #7f7280, #3f3380);
    background-image: -webkit-linear-gradient(right top, #7f7280, #3f3380);
    background-image: -moz-linear-gradient(right top, #7f7280, #3f3380);
    background-image: -o-linear-gradient(right top, #7f7280, #3f3380);
    background-image: -ms-linear-gradient(right top, #7f7280, #3f3380);
    z-index: -2;
}

.blur {
    filter: blur(30px);
    -webkit-filter: blur(30px);
}

.bg_mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

::-webkit-input-placeholder {
    color: #ddd;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    color: #ddd;
    overflow: auto;
}

.li-active {
    color: #fff !important;
}

.li-active .num {
    background: url('../img/wave.gif') 20px 20px no-repeat;
    text-indent: -99px;
}

.song-list-item, .song-list-top{
    height: 50px;
    display: flex;
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.song-list-item .num, .song-list-top .num{
    flex: 0 0 50px;
    text-align: center;
}

.title, .singer, .album {
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title {
    flex: 1.5;
}

.singer, .album {
    flex: 1;
}

.loadMore, .noMore {
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.player .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player .pic {
    flex: 0 0 200px;
    width: 200px;
    margin: 10px 0;
}

.pic img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.player .content {
    flex: 1;
    width: 100%;
    overflow: auto;
    position: relative;
}

.player .lyric {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}

.player .lyric p {
    line-height: 2.5em;
    margin: 1em 0;
    color: #ccc;
}

.lyric-active {
    color: #fff !important;
}

.wave {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url('../img/wave.gif') no-repeat;
    margin-right: 10px;
}

.progress {
    flex: 0 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eee;
    font-size: 12px;
}

.progressbar {
    height: 3px;
    background: #aaa;
    position: relative;
    margin-top: 11px;
}

.current-progress {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 2;
}

.buffered-progress {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;
    z-index: 1;
}

.ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -6px;
    left: 0;
    -webkit-box-shadow: 0 0 10px #fff;
    z-index: 2;
}

.red-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #d43c33;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

.control {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control .iconfont {
    color: #ddd;
}

.singlePlay, .listLoop, .randomPlay, .setting {
    font-size: 25px !important;
}

.listLoop, .randomPlay {
    display: none;
}

.prev, .next {
    font-size: 40px !important;
}

.play, .pause {
    font-size: 60px !important;
}

.pause {
    display: none;
}