.header {
    flex: 0 0 35px;
    background: rgba(0, 0, 0, .3);
    color: #ccc;
    position: relative;
}

.header_btn_bar {
    height: 100%;
    display: flex;
}

.header_btn_item {
    flex: 1;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}

.btn-active {
    border-bottom: 2px solid #ccc;
    color: #eee;
}

.search {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    box-shadow: 1px 1px 15px #ccc;
}

.search .wrapper {
    height: 100%;
    display: flex;
}

.search_input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding-left: 15px;
    color: #ddd;
    font-size: 16px;
}

.search_btn, .cancel_btn {
    flex: 0 0 50px;
    line-height: 35px;
    text-align: center;
}

.delete {
    flex: 0 0 50px;
    text-align: center;
}

.player {
    display: none;
    height: 100%;
}

.footer {
    flex: 0 0 120px;
    display: flex;
    flex-direction: column;
}

.progress {
    flex: 0 0 30px;
    font-size: 12px;
}

#progress {
    flex: 0.9;
    height: 25px;
}

.control {
    flex: 1;
}

.icon-active {
    color: #fff !important;
}

.layui-layer-tips .layui-layer-content {
    padding: 0 !important;
    background: none !important;
}

#source {
    width: 100px;
    height: 150px;
    color: #fff;
}

#source li {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #000;
}

.source-active {
    background: #222 !important;
}

.bg_mask{
    display: none;
}